# ----- OS, IDEs, tooling
.DS_Store
.idea/
.python-version

# ----- Settings files
.env*
**local**

# ---- Python-specific
.*.pyc
__pycache__/

# ----- For local development purposes
/apis_core

# Logging
*.log
